/**
 * Shortcodes CSS
 * @version 1.4
 */
/* #General Styles
================================================== */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.tw-loading, .tw-loading-dark {
  min-width: 50px;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

/* FallBacks */
.tw-loading {
  background-image: url(../images/loading.gif);
}

.tw-loading-dark {
  background-image: url(../images/loading-dark.gif);
}

/* Spin Animation */
.svg.smil .tw-loading {
  background-image: url(../images/loading-spin.svg);
  background-size: 50px;
}

.svg.smil .tw-loading-dark {
  background-image: url(../images/loading-spin-dark.svg);
  background-size: 50px;
}

/* #Lightbox Shortcode
================================================== */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #fff;
  opacity: 0.95;
  filter: alpha(opacity=95);
}

#small-dialog {
  background: #74953a;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  color: #fff;
  text-align: center;
}

#small-dialog h3,
#small-dialog p {
  color: #fff;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  overflow: hidden !important;
}

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #222;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504;
}

.mfp-preloader a {
  color: #cccccc;
}

.mfp-preloader a:hover {
  color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

.mfp-close-btn-in .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: 10px;
  margin-top: 69px;
  opacity: 1;
  width: 30px;
  height: 30px;
  line-height: 0;
  background: #222;
  padding: 0;
  text-align: center;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: 10px;
  margin-top: 69px;
  opacity: 1;
  width: 30px;
  height: 30px;
  line-height: 0;
  background: #222;
  padding: 0;
  text-align: center;
}

.mfp-counter {
  position: absolute;
  top: 0px;
  right: 25px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.9;
  margin: 0;
  top: 50%;
  margin-top: -33px;
  padding: 0;
  width: 65px;
  height: 65px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -33px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  border: none;
}

.mfp-arrow-left {
  left: 0;
  background: url(../images/left-chevron.png) center no-repeat;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.mfp-arrow-right {
  right: 0;
  background: url(../images/right-chevron.png) center no-repeat;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.svg .mfp-arrow-left {
  background: url(../images/left-chevron.svg) center no-repeat;
}

.svg .mfp-arrow-right {
  background: url(../images/right-chevron.svg) center no-repeat;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 12px solid white;
  left: 3px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 20px solid white;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

.mfp-iframe-holder .mfp-close {
  margin-top: 0;
  right: 0;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0 60px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 60px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: none;
}

.mfp-figure {
  line-height: 0;
}

.mfp-bottom-bar {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  cursor: auto;
  bottom: 0;
  margin-bottom: 80px;
}

.mfp-title-wrapper {
  padding: 0 30px;
}

.mfp-title {
  padding-right: 0;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
}
@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }

  .mfp-ie7 .mfp-img {
    padding: 0;
  }

  .mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
  }

  .mfp-ie7 .mfp-container {
    padding: 0;
  }

  .mfp-ie7 .mfp-content {
    padding-top: 44px;
  }

  .mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
  }
}
/**
* Fade-zoom animation for first dialog
*/
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0.01;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0.01;
}

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog, .my-mfp-slide-bottom .mfp-figure {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog, .my-mfp-slide-bottom.mfp-ready .mfp-figure {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog, .my-mfp-slide-bottom.mfp-removing .mfp-figure {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0.01;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0.01;
}

.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in .mfp-figure {
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg, .mfp-zoom-in .mfp-preloader {
  opacity: 0.01;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.mfp-zoom-in button.mfp-arrow-left {
  opacity: 0;
  left: 0;
}

.mfp-zoom-in button.mfp-arrow-right {
  opacity: 0;
  right: 0;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

.mfp-zoom-in.mfp-image-loaded button.mfp-arrow-left {
  opacity: 1;
  left: 0;
}

.mfp-zoom-in.mfp-image-loaded button.mfp-arrow-right {
  opacity: 1;
  right: 0;
}

.mfp-zoom-in.mfp-ready.mfp-bg, .mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.95;
}

.mfp-zoom-in.mfp-removing button.mfp-arrow-right, .mfp-zoom-in.mfp-removing button.mfp-arrow-left {
  opacity: 0;
}

.mfp-zoom-in.mfp-removing .mfp-figure {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg, .mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0.01;
}

/* Captions */
.mfp-title {
  padding: 20px 30px;
  display: block;
  position: relative;
  text-rendering: optimizeLegibility;
  line-height: 16px;
  background: #e3e3e3;
  background: rgba(0, 0, 0, 0.05);
  color: #999;
  font-size: 0.85em;
  text-align: left;
}

.mfp-title {
  background: transparent;
  padding: .4em 0;
  color: #fff;
  display: inline;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0.8em 0 0 rgba(0, 0, 0, 0.5), -0.8em 0 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  line-height: 2.1em;
}
.mfp-title a {
  color: #fff;
}

/* #Column Shortcodes
================================================== */
.tw-one-half {
  width: 48%;
}

.tw-one-third {
  width: 30.66%;
}

.tw-two-third {
  width: 65.33%;
}

.tw-one-fourth {
  width: 22%;
}

.tw-three-fourth {
  width: 74%;
}

.tw-one-fifth {
  width: 16.8%;
}

.tw-two-fifth {
  width: 37.6%;
}

.tw-three-fifth {
  width: 58.4%;
}

.tw-four-fifth {
  width: 79.2%;
}

.tw-one-sixth {
  width: 13.33%;
}

.tw-five-sixth {
  width: 82.67%;
}

.tw-one-half, .tw-one-third, .tw-two-third, .tw-three-fourth, .tw-one-fourth, .tw-one-fifth, .tw-two-fifth, .tw-three-fifth, .tw-four-fifth, .tw-one-sixth, .tw-five-sixth {
  margin-right: 4%;
  margin-bottom: 25px;
  float: left;
}

.tw-column-last {
  margin-right: 0 !important;
  clear: right;
}

/* #Tabs
================================================== */
.tw-tabs-shortcode p {
  display: none;
}
.tw-tabs-shortcode .tw-tab-content p {
  display: inline;
}

ul.tw-tabs {
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  z-index: 3;
}

.generatedcontent .content ul.tw-tabs {
  margin-bottom: 0;
}

ul.tw-tabs li {
  display: block;
  width: auto;
  padding: 0;
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
  background-color: #dcdcdc;
  background-color: rgba(0, 0, 0, 0.05);
}

ul.tw-tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  padding: 6px 20px 6px 20px;
  line-height: 30px;
  border-style: solid;
  border-color: #dcdcdc;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1px 1px 0 0;
  margin: 0;
  font-size: 13px;
  color: #555;
}

ul.tw-tabs li a:hover {
  color: #333;
}

ul.tw-tabs li.ui-tabs-active a {
  position: relative;
  margin: 0 0 0 -1px;
  border-bottom: none;
}

#footer ul.tw-tabs li.ui-tabs-active a {
  background-color: #222;
}

#footer ul.tw-tabs li a {
  border-color: #555;
  padding: 0px 15px;
}

#footer ul.tw-tabs {
  border-color: #555;
}

ul.tw-tabs li:first-child a.active {
  margin-left: 0;
}

ul.tw-tabs li:first-child a {
  border-width: 1px 1px 0 1px;
}

.tw-tab-content {
  -webkit-font-smoothing: subpixel-antialiased;
  border-top: 1px solid #dcdcdc !important;
  border-color: rgba(0, 0, 0, 0.15);
  margin-top: -1px;
  padding-top: 40px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #fff;
}

/* Clearfixing tw-tabs for beautiful stacking */
ul.tw-tabs:before, ul.tw-tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

ul.tw-tabs:after {
  clear: both;
}

ul.tw-tabs {
  zoom: 1;
}

/* #Posts
================================================== */
.tw-postshortcode {
  margin: 30px 0;
}

.tw-postshortcode, .tw-postshortcode p {
  font-size: 12px !important;
  line-height: 1.75em !important;
}

h3.title-shortcode {
  display: block;
  font-size: 24px;
  line-height: 28px;
}

h3.title-shortcode a {
  text-decoration: none;
}

.tw-postshortcode .date {
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  letter-spacing: 0px;
  text-transform: none;
  margin-top: 10px;
}

.tw-postshortcode h3,
.tw-postshortcode h3 a {
  font-size: 18px !important;
  margin-bottom: 5px;
  line-height: 22px;
}

.tw-postshortcode .articleinner {
  margin-bottom: 40px;
}

.tw-postshortcode .thumbnailarea {
  margin-bottom: 15px;
}

/* #Divider Styling
================================================== */
.tw-divider {
  margin: 10px 0 40px 0;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dcdcdc;
  border-color: rgba(0, 0, 0, 0.15);
  height: 12px;
}

.tw-divider h5 {
  line-height: 20px !important;
}

.tw-divider span {
  background: #333;
  padding: 5px 10px;
  color: #fff;
  height: 12px;
  margin-bottom: -10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* #Toggle
================================================== */
.tw-toggle .tw-toggle-trigger {
  display: block;
  padding: 15px 15px 15px 37px;
  background: url("../images/toggle-plus.png") no-repeat 15px center;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  background-color: rgba(245, 245, 245, 0.85);
  border-color: rgba(245, 245, 245, 0.95);
  outline: 0;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  margin-top: 3px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.tw-toggle .tw-toggle-trigger:hover {
  background-color: #eee;
  background-color: rgba(230, 230, 230, 0.85);
  border-color: rgba(230, 230, 230, 0.95);
  text-decoration: none;
}

.tw-toggle .tw-toggle-trigger.active,
.tw-toggle .tw-toggle-trigger.active:hover {
  background-color: rgba(230, 230, 230, 0.85);
  border-color: rgba(230, 230, 230, 0.95);
  background-image: url("../images/toggle-minus.png");
  text-decoration: none;
}

.svg .tw-toggle .tw-toggle-trigger {
  background-image: url("../images/toggle-plus.svg");
  background-size: 16px;
}
.svg .tw-toggle .tw-toggle-trigger.active,
.svg .tw-toggle .tw-toggle-trigger.active:hover {
  background-image: url("../images/toggle-minus.svg");
  background-size: 16px;
}

.tw-toggle .tw-toggle-container {
  display: none;
  overflow: hidden;
  padding: 15px;
  border-top: 0px;
  background-color: #fff;
  border: 1px solid #fff;
  border-top: none;
}

/* Accordion
================================================== */
.tw-accordion .tw-accordion-trigger {
  display: block;
  padding: 15px 15px 15px 37px;
  background: #f9f9f9 url("../images/toggle-plus.png") no-repeat 15px center;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  background-color: rgba(245, 245, 245, 0.85);
  border-color: rgba(245, 245, 245, 0.95);
  outline: 0;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  margin: 3px 0 0 !important;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.tw-accordion .tw-accordion-trigger a,
.tw-accordion .tw-accordion-trigger a:hover {
  text-decoration: none !important;
  color: #333;
}

.tw-accordion .ui-state-focus {
  outline: none;
}

.tw-accordion .tw-accordion-trigger:hover {
  background-color: #eee;
  background-color: rgba(230, 230, 230, 0.85);
  border-color: rgba(230, 230, 230, 0.95);
  text-decoration: none;
}

.tw-accordion .tw-accordion-trigger.ui-state-active {
  background-color: #eee;
  background-color: rgba(230, 230, 230, 0.85);
  border-color: rgba(230, 230, 230, 0.95);
  background-image: url("../images/toggle-minus.png");
  text-decoration: none;
}

.svg .tw-accordion .tw-accordion-trigger {
  background-image: url("../images/toggle-plus.svg");
  background-size: 16px;
}
.svg .tw-accordion .tw-accordion-trigger.ui-state-active {
  background-image: url("../images/toggle-minus.svg");
  background-size: 16px;
}

.tw-accordion .ui-accordion-content {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #fff;
  border-top: none;
}

.tw-accordion .ui-accordion-content p:last-child {
  margin: 0px;
}

.tw-accordion .ui-icon {
  margin-right: 7px;
}

/* Pricing Table
================================================== */
.tw-pricing-table {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.tw-pricing-table div {
  list-style: none;
}

.tw-pricing-table > div {
  margin-right: 4%;
  margin-bottom: 20px;
  list-style: none;
  text-shadow: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tw-pricing-table .tw-pricing-header {
  background: #333;
  text-align: center;
  padding: 20px 0;
}

.tw-pricing-table .tw-pricing-header h5 {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  margin: 0;
  padding: 0 20px 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  letter-spacing: normal;
}

.tw-pricing-table .tw-pricing-cost {
  color: #fff;
  font-size: 48px;
  line-height: 1em;
  padding-top: 20px;
  font-weight: normal;
}

.tw-pricing-table .featured .tw-pricing-header {
  background: #00a498;
  color: #fff;
}

.tw-pricing-table .featured .tw-pricing-header h5 {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.tw-pricing-table .tw-pricing-per {
  font-size: 0.786em;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
}

.tw-pricing-table .tw-pricing-content {
  background: #fff;
  font-size: 0.857em;
  text-align: center;
}

.tw-pricing-table .tw-pricing-content ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.tw-pricing-table .tw-pricing-content ul li {
  margin: 0 !important;
  padding: 10px 20px !important;
  border-bottom: 1px solid #eee;
  list-style: none !important;
}

.tw-pricing-table .tw-pricing-content ul li:nth-child(2n+2) {
  background: #f9f9f9;
}

.tw-pricing-table .tw-pricing-button {
  background: #fff;
  text-align: center;
  border-top: 1px solid #fff;
  padding: 20px;
}

.tw-pricing-table .tw-pricing-button .tw-button {
  float: none;
  margin: 0 auto;
}

/* Social
================================================== */
.safari .tw-social-icon {
  -webkit-transition: none !important;
  /* Safari 3.2-6  */
  transition: none !important;
  /* Safari 6.1+  */
}

.tw-social-icon {
  display: inline-block;
  text-indent: 999999px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 2px 2px;
  width: 40px;
  height: 40px;
  background: #e9e9e9;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: color 0.3s ease-out, background 0.3s ease-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: color 0.3s ease-out, background 0.3s ease-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.tw-social-icon:hover {
  background-color: #e3e3e3;
}
.tw-social-icon.twitter {
  background-image: url(../images/icons/twitter.png);
}
.tw-social-icon.facebook {
  background-image: url(../images/icons/facebook.png);
}
.tw-social-icon.dribbble {
  background-image: url(../images/icons/dribbble.png);
}
.tw-social-icon.instagram {
  background-image: url(../images/icons/instagram.png);
}
.tw-social-icon.google {
  background-image: url(../images/icons/google.png);
}
.tw-social-icon.pinterest {
  background-image: url(../images/icons/pinterest.png);
}
.tw-social-icon.linkedin {
  background-image: url(../images/icons/linkedin.png);
}
.tw-social-icon.rss {
  background-image: url(../images/icons/rss.png);
}
.tw-social-icon.stumble {
  background-image: url(../images/icons/stumbleupon.png);
}
.tw-social-icon.vimeo {
  background-image: url(../images/icons/vimeo.png);
}
.tw-social-icon.youtube {
  background-image: url(../images/icons/youtube.png);
}

/* Retina Versions */
.svg .tw-social-icon {
  background-size: 20px;
}
.svg .tw-social-icon.twitter {
  background-image: url(../images/icons/twitter.svg);
}
.svg .tw-social-icon.facebook {
  background-image: url(../images/icons/facebook.svg);
}
.svg .tw-social-icon.dribbble {
  background-image: url(../images/icons/dribbble.svg);
}
.svg .tw-social-icon.instagram {
  background-image: url(../images/icons/instagram.svg);
}
.svg .tw-social-icon.google {
  background-image: url(../images/icons/google.svg);
}
.svg .tw-social-icon.pinterest {
  background-image: url(../images/icons/pinterest.svg);
}
.svg .tw-social-icon.linkedin {
  background-image: url(../images/icons/linkedin.svg);
}
.svg .tw-social-icon.rss {
  background-image: url(../images/icons/rss.svg);
}
.svg .tw-social-icon.stumble {
  background-image: url(../images/icons/stumbleupon.svg);
}
.svg .tw-social-icon.vimeo {
  background-image: url(../images/icons/vimeo.svg);
}
.svg .tw-social-icon.youtube {
  background-image: url(../images/icons/youtube.svg);
}

/* #Buttons and Read More Links
================================================== */
.tw-button,
a.tw-button,
.tw-postshortcode a.more-link {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1;
  padding: 11px 14px 11px;
  position: relative;
  text-decoration: none;
  font-size: 12px;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
}

.tw-button:hover, a.tw-button:hover,
.widget a.tw-button:hover,
.tw-postshortcode a.more-link:hover {
  background: #111 !important;
}

.tw-postshortcode span.more-link {
  display: block;
}

.tw-postshortcode a.more-link {
  display: block;
  float: left;
}

.tw-button:hover,
a.tw-button:hover,
.tw-postshortcode a.more-link:hover {
  color: #fff !important;
}

.tw-button.custom:hover,
a.tw-button.custom:hover {
  background: #000 !important;
}

a.more-link,
a.tw-button,
.tw-button {
  margin-top: 15px;
}

a.tw-button.shortcode {
  margin-top: 0 !important;
  margin-bottom: 15px;
}

/* #Button Sizes
================================================== */
================================================== */
a.tw-button.small {
  font-size: 10px;
  padding: 10px 12px 11px !important;
}

a.tw-button.medium {
  font-size: 12px;
  padding: 10px 12px 11px !important;
}

a.tw-button.large {
  font-size: 14px;
  padding: 12px 14px 13px !important;
}

a.tw-button.huge {
  font-size: 14px;
  padding: 22px 25px !important;
}

/* #Button Colors
================================================== */
.tw-button.red {
  background: #C60108;
}

.tw-button.orange {
  background: #E97F02;
}

.tw-button.yellow {
  background: #ECBA09;
}

.tw-button.green {
  background: #8FBE00;
}

.tw-button.blue {
  background: #00A8C6;
}

.tw-button.purple {
  background: #490A3D;
}

.tw-button.purple:hover,
.tw-button.blue:hover,
.tw-button.green:hover,
.tw-button.yellow:hover,
.tw-button.orange:hover,
.tw-button.red:hover {
  background: #333;
}

/* #Parallax Style Image
================================================== */
.tw-post-break {
  position: relative;
  float: none;
  margin: 40px auto 30px;
  display: inline-block;
  min-width: 100% !important;
  max-width: 100% !important;
  background: transparent url(../images/loading.gif) center no-repeat;
}

.svg .tw-post-break {
  background: transparent url(../images/loading-spin.svg) center no-repeat;
}

.tw-full-bg-image {
  display: block;
  position: relative;
  padding-left: 99999px;
  margin-left: -99999px;
  padding-right: 99999px;
  margin-right: -99999px;
  padding-bottom: 75px;
  background-position: center;
  background-attachment: fixed;
  background-color: #222;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  /* Remove 15px padding for text margins */
  padding-top: 100px;
  background-position: center;
  overflow: hidden;
}

.tw-post-break .tw-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.tw-post-break .tw-parallax-content {
  position: relative;
  z-index: 3;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* #General Layout Changes
  ================================================== */
  .tw-one-half,
  .tw-one-third,
  .tw-two-third,
  .tw-three-fourth,
  .tw-one-fourth,
  .tw-one-fifth,
  .tw-two-fifth,
  .tw-three-fifth,
  .tw-four-fifth,
  .tw-one-sixth,
  .tw-five-sixth {
    width: 100%;
  }
}

/*# sourceMappingURL=themewich-shortcodes.css.map */
